@page "{id:guid}/{type}"
@using Devblog_Library.Models
@using System.Security.Claims
@model Devblog.Pages.Admin.EditModel
@{
    var userRole = Model.UserType;
}


<body>
    @if (Model.Type == "Post" && Model.Post != null)
    {
        <h2 class="text-center">Edit Post</h2>
        <div class="container mt-4 d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <p class="text-center">Date Created: @Model.Post.Date.ToShortDateString()</p>
                <form method="post" asp-page-handler="EditPost" enctype="multipart/form-data">
                    <input type="hidden" name="PostId" value="@Model.Post.Id" />
                    <input type="hidden" name="PostType" value="@Model.Post.GetType().Name" />

                    <div class="form-group mb-3">
                        <label>Title: </label>
                        <input class="form-control" name="Title" value="@Model.Post.Title" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Reference: </label>
                        <input class="form-control" name="Reference" value="@Model.Post.Reference" />
                    </div>

                    @if (Model.Post is BlogPost blogPost)
                    {
                        <div class="form-group mb-3">
                            <label>Weblog: </label>
                            <input class="form-control" name="Weblog" value="@blogPost.Weblog" />
                        </div>
                    }
                    else if (Model.Post is Review review)
                    {
                        <div class="form-group mb-3">
                            <label>Pros: </label>
                            <input class="form-control" name="Pros" value="@review.Pros" />
                        </div>

                        <div class="form-group mb-3">
                            <label>Cons: </label>
                            <input class="form-control" name="Cons" value="@review.Cons" />
                        </div>

                        <div class="form-group mb-3">
                            <label>Rating: </label>
                            <input class="form-control" name="Stars" value="@review.Stars" />
                        </div>
                    }
                    else if (Model.Post is Project project)
                    {
                        <div class="form-group mb-3">
                            <label>Description: </label>
                            <input class="form-control" name="Description" value="@project.Description" />
                        </div>
                        <div class="form-group mb-3">
                            <input type="file" name="projectFile" />
                            <img src="@project.Image" alt="Project image" class="img-fluid" />
                        </div>
                    }

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success font-weight-bold">Save Changes</button>
                        <a class="btn btn-primary font-weight-bold" asp-page="/Admin/Index">Back to Admin Panel</a>
                    </div>
                </form>
            </div>
        </div>
    }
    else if (Model.Type == "Tag" && Model.Tag != null)
    {
        <h2 class="text-center">Edit Tag</h2>
        <form method="post" asp-page-handler="EditTag">
            <input type="hidden" name="TagId" value="@Model.Tag.Id" />

            <div class="container mt-4 d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label>Tag: </label>
                        <input class="form-control" name="TagName" value="@Model.Tag.Name" />
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success font-weight-bold">Save Changes</button>
                <a class="btn btn-primary font-weight-bold" asp-page="/Admin/Index" asp-route-type="Tag">Back to Admin Panel</a>
            </div>
        </form>
    }
    else if (Model.Type == "Account" && Model.Account != null)
    {
        <h2 class="text-center">Edit Account</h2>

        <form method="post" asp-page-handler="EditAccount">
            <input type="hidden" name="AccountId" value="@Model.Account.Id" />

            <div class="container mt-4 d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label>First Name: </label>
                        <input class="form-control" name="FirstName" value="@Model.Account.FirstName" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Last Name: </label>
                        <input class="form-control" name="LastName" value="@Model.Account.LastName" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Age: </label>
                        <input class="form-control" name="Age" value="@Model.Account.Age" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Mail: </label>
                        <input class="form-control" name="Mail" value="@Model.Account.Mail" />
                    </div>

                    <div class="form-group mb-3">
                        <label>City: </label>
                        <input class="form-control" name="City" value="@Model.Account.City" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Phone Number: </label>
                        <input class="form-control" name="PhoneNumber" value="@Model.Account.PhoneNumber" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Password: </label>
                        <input class="form-control" name="Password" value="" />
                    </div>

                    @if (userRole == "Author")
                    {
                        <div class="form-group mb-3">
                            <label>UserType: </label>
                            <label>
                                <input name="UserType" id="User" value="User" type="radio" /> User
                            </label>
                            <span class="alert-danger" asp-validation-for="UserType"></span>

                            <label>
                                <input name="UserType" id="Admin" value="Admin" type="radio" /> Admin
                            </label>
                            <span class="alert-danger" asp-validation-for="UserType"></span>

                            <label>
                                <input name="UserType" id="Author" value="Author" type="radio" /> Author
                            </label>
                            <span class="alert-danger" asp-validation-for="UserType"></span>
                        </div>
                    }

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success font-weight-bold">Save Changes</button>
                        <a class="btn btn-primary font-weight-bold" asp-page="/Admin/Accounts">Back to Account Administration</a>
                    </div>
                </div>
            </div>
        </form>
    }
</body>